@main_color: #fb870d;
@font_color: #333;
@font_color2: #666;
@font_color3: #999;
@blue_color: #4c91f8;
.overflow {
    overflow: hidden;
}
.noScroll {
    position: fixed;
    top: 0;
}
.ios_scroll {
    -webkit-overflow-scrolling: touch;
}
.none {
    display: none;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


/*...省略号*/

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis_num(@row: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @row;
    -webkit-box-orient: vertical;
}

// index

.banner{
    width: 100%;
    font-size: 0;
    img{
        width: 100%;
    }
}
// 美德丽家
.page2{
    background: #EDECEC;
    position: relative;
    font-size: 0;
}
.serve{
    padding-bottom: 90px;
    ul{
        overflow: hidden;
        li{
            width: 33.33%;
            float: left;
            position: relative;
            &:nth-of-type(1) .text{
                background:rgba(174,117,19,0.8);
            }
            &:nth-of-type(2) .text{
                background:rgba(178,3,23,0.8);
            }
            &:nth-of-type(3) .text{
                background:rgba(39,168,166,0.8);
            }
            &:hover{
                .text{
                    display: block;
                }
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
                .pic{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 75%;
                        height: 75%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom:0;
                        margin:auto;
                    }

                }
                .text{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom:0;
                    color: #fff;
                    display: none;
                    text-align: center;
                    h4{
                        padding-top: 38%;
                        font-size: 42px;
                    }
                    p{
                        font-size: 24px;
                        margin-top: 10px;;
                    }
                    
                }
            }
        }
    }
}
// 联系我们
.contact{
    width: 100%;
    background: #fff;
    .links{
        width: 1200px;
        margin: 0 auto;
        margin-top: 100px;
        ul{
            width: 100%;
            overflow: hidden;
            li{
                width: 20%;
                height: 50px;
                line-height: 50px;
                border-right: #fff 3px solid;
                float: left;
                background: #D4D4D4;
                margin-bottom: 3px;
                a{
                    display: block;
                    height: 100%;
                    font-size: 14px;
                    color: #666;
                    text-indent: 1em;
                }
            }
        }
    }
    .wechat{
        text-align: center;
        position: relative;
        width: 61px;
        margin:0 auto;
        margin-top: 130px;
        &:hover{
            .code{
                display: block;
            }
        }
        .w_logo{
            width: 61px;
            height: 61px;
        }
        .code{
            position: absolute;
            display: none;
            top: -155%;
            left: -15px;
            width: 100px;
            padding: 5px;
            box-shadow: 0px 0px 10px 4px #ddd;
            img{
                width: 100%;
            }
        }
    }
}

//展示
.show{
    .show_wrap{
        width: 100%;
        ul{
            overflow: hidden;
            li{
                width: 25%;
                float: left;
                position: relative;
                margin-top:1px;
                border-right: #fff solid 1px;
                &:nth-of-type(4n){
                    border-right: none
                }
                img{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom:0;
                    margin:auto;
                }
            }
        }
    }
    .modal{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5)
    }
}

